#dependencies
node_modules/

build/
dist/
.next/
out/

npm-debug.log*

.vscode/
.idea/
*.swp
*.swo

coverage/
.cache/
.parcel-cache/

#macOS
.DS_Store

#local env files
.env*.local
.env
.env.local

#venv
myenv/
.venv/
venv/
